<!DOCTYPE html>
<html lang="ru">
 <head>
    <title>Login</title>
    <link rel='stylesheet' href='../../../styles/auth.scss' />
    <link rel='stylesheet' href='../../../styles/baseInput.scss' />
    <link rel='stylesheet' href='../../../styles/baseButton.scss' />
  </head>
  <body>
    <div class='auth'>
        {{>backSlide}}
      <div class='auth__block'>
        <form class='auth__form'>
          <span class='auth__title'>Войти</span>
          <div class="auth__inputs">
            {{>baseInput placeholder="login"  id="login" name="login" type="text"}}
            {{>baseInput placeholder="password"  id="password" name="password" type="password"}}
          </div>
          <div class='auth__control'>
            {{>baseButton case="main" type="submit" text="Авторизоваться"}}
            {{>baseButton case="text" type="button" link="../auth/auth.hbs" text="Ещё не зарегистрированы?"}}
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
