<div class='chatsHeader'>
  <div class='chatsHeader__profileLink'>
    {{{profile}}}
    {{{login}}}
  </div>
  <div class='searchInput'>
    <input class='searchInput__input' placeholder='Поиск' />
  </div>
</div>
