---
username: "asdfa2222sfd"
---
<!DOCTYPE html>
<html lang='ru'>

<head>
  <meta charset='UTF-8' />
  <title>Chats YAP</title>
  <link rel="stylesheet" href="./styles.scss">
    <link rel='stylesheet' href='./styles/baseInput.scss' />

  </link>
</head>

<body>
  <main class='main'>

    <nav class="nav">
      <li><a class="nav__item" href="src/pages/profile/profile.hbs"> Профиль </a></li>
      <li><a class="nav__item" href="src/pages/login/login.hbs"> Авторизация </a></li>
      <li><a class="nav__item" href="src/pages/auth/auth.hbs"> Регистрация </a></li>
      <li><a class="nav__item" href="src/pages/notfound/404.hbs"> page 404 </a></li>
      <li><a class="nav__item" href="src/pages/500/500.hbs"> page 500 </a></li>
    </nav>
    <div class="content">
      <div class="content__title">
        Выберите чат чтобы отправить сообщение
        <div class="content__message">
        </div>
      </div>
    </div>
  </main>
</body>

</html>
