<html lang='ru'>
  <head>
    <title>SignUp</title>
    <link rel='stylesheet' href='../../../styles/auth.scss' />
    <link rel='stylesheet' href='../../../styles/baseInput.scss' />
    <link rel='stylesheet' href='../../../styles/baseButton.scss' />

  </head>
  <body>
    <main>
    <div class='auth'>
      <div class='auth__block'>
        {{>backSlide}}
        <form class='auth__form' onsubmit="event.preventDefault()">
          <span class='auth__title'>Регистрация</span>
          <div class="auth__inputs">
            {{>baseInput placeholder="email" id="email" name="email" type="email"}}
            {{>baseInput placeholder="login"  id="login" name="login" type="text"}}
            {{>baseInput placeholder="name"  id="name" name="name" type="text"}}
            {{>baseInput placeholder="surname"  id="surname" name="surname" type="text"}}
            {{>baseInput placeholder="phone" type="tel" id="phone" name="phone" }}
            {{>baseInput placeholder="password"  id="password" name="password" type="password"}}
            {{>baseInput placeholder="repeat-password"  id="email" name="email" type="password"}}
          </div>
          <div class='auth__control'>
            {{>baseButton case="main" type="submit" text="Зарегистрироваться"}}
            {{>baseButton case="text" type="button" link="../login/login.hbs" text="Войти"}}
          </div>
        </form>
      </div>
    </div>
    </main>
  </body>
</html>
