<html lang='ru'>

<head>
  <title>500</title>
  <link rel='stylesheet' href='../../../styles/baseButton.scss' />
</head>

<body>
  <main>
    <div class="error-page">
      <div class="error-page__info">
        Видимо что-то сломалось. Уже чиним.
      </div>
      {{>baseButton case="main" type="button" link="./index.hbs" text="Обратно"}}

    </div>
  </main>
</body>

</html>
