$primary-color: #3369f3;
$secondary-color: #999999;
$error-color: #ff0000;
$text-color: #1e1e1e;
$border-color-1: #d2d2d2;
$border-color-2: #eaeaea;
$opacity-main: #1976d20a;
$opacity-secondary: #e4edfd;
$box-shadow-color: #00000023;
$background-color: #fbfbfb;
$background-color-2: #efefef;
$background-color-3: #f8f8f8;
$white-color: #ffffffff;
$color-primary: #3369f3;
$color-secondary: #999999;
$color-text-sub: #999999;
$color-border: #eaeaea;
$color-text: #1e1e1e;
$color-border: #d2d2d2;
$color-border-2: #eaeaea;
$color-grey-background: #fbfbfb;
$color-white: white;
$color-opacity: #1976d20a;
$warning-color: #FF0000;

$box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);

$font-size-regular: 14px;
$font-title: 20px;
$font-main: 'Inter';


body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  color: $color-text;
  font-size: $font-size-regular;
  font-family: $font-main;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  width: 30%;
  height: 100%;
  flex-shrink: 0.5;
  background-color: $color-grey-background;
  border-right: 1px solid $color-border;
  &__item {
    font-weight: 500;
    color: $color-secondary;
    &:hover {
      color: $color-primary;
    }
  }
}
.content {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  &__title {
    color: $color-secondary;
  }
}
.error-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  &__info {
    font-family: $font-main;
    font-size: $font-title;
  }
}
.back-slide {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 3rem;
  height: 100vh;
  background-color: $color-grey-background;
  border: 1px solid $color-border;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-arrow {
  height: 1.5rem;
  width: 1.5rem;
  background-color: $color-primary;
  color: $color-white;
  border-radius: 50%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    opacity: 0.7;
  }
}
.link {
  color: $color-primary;
  font-size: $font-size-regular;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  font-family: $font-main;
}
