@import '../styles.scss';
body {
  margin: 0;
}
.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-grey-background;
  font-family: $font-main;
  &__block {
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    width: 28rem;
    height: 70vh;
    padding: 2rem 1rem 1rem;
    border-radius: 0.8rem;
  }
  &__title {
    font-size: $font-title;
    font-weight: 500;
  }
  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 300px;
  }
}
