@import '../styles.scss';

.btn {
  background: $color-primary;
  border-radius: 8px;
  cursor: pointer;
  color: $color-white;
  width: 18rem;
  height: 2rem;
  outline: none;
  border: none;
  font-weight: 500;
  font-family: $font-main;

  &:hover {
    opacity: 0.8;
  }

  &__text {
    background: $color-white;
    color: $color-primary;

    &:hover {
      background: rgba($color-opacity, 0.05);
    }
  }
}
