<html lang='ru'>

<head>
  <title>404</title>
  <link rel='stylesheet' href='../../../styles/baseButton.scss' />
</head>

<body>
  <main>
    <div class="error-page">
      <div class="error-page__info">
        Упс, не туда попали
      </div>
      {{>baseLink case="main" type="button" link="" text="Обратно"}}
    </div>
  </main>
</body>

</html>
